body {
    font-family: 'DotGothic16', sans-serif;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

header .home-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ffa500;
}

.chalkboard {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 5px 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e6b800;
}

.color-box {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.delete-button {
    background-color: #ff6666;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #cc0000;
}

.edit-button {
    background-color: #66b3ff;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #007acc;
}

.move-button {
    background-color: #cccccc;
    margin-left: 10px;
}

.move-button:hover {
    background-color: #999999;
}
