body {
    font-family: 'DotGothic16', sans-serif;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

header .home-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1, h2, h3 {
    color: #ffa500;
}

.message-box {
    position: absolute;
    width: 200px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-box-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-box-header .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.message-box-body {
    padding: 10px;
    color: #000;
}
