body {
    font-family: 'DotGothic16', sans-serif;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

header .home-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ffa500;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7f00;
}
