body {
    font-family: 'DotGothic16', sans-serif;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

body.photo-mode {
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: transparent; /* Remove background color */
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

/* Remove any additional mode-specific background colors for the header */
header.light-mode, header.dark-mode, header.photo-mode {
    background-color: transparent;
}

main {
    padding: 20px;
    border-radius: 10px;
}

/* Adjust main background for each mode */
main.light-mode {
    background-color: rgba(255, 255, 255, 0.9);
}

main.dark-mode {
    background-color: rgba(0, 0, 0, 0.7);
}

main.photo-mode {
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    color: #ffa500;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

ul li a:hover {
    color: #ffa500;
}

section {
    margin-bottom: 20px;
}

a {
    color: #99ebf7;
    text-decoration: none;
}

a:hover {
    color: #ffa500;
}

iframe {
    display: block;
    margin: 0 auto;
}

.message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-box-header {
    background-color: #ffa500;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-box-header .close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.message-box-body {
    padding: 20px;
    color: #000;
}

.message-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.message-box button:hover {
    background-color: #ff7f00;
}
