body {
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

header .home-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ffa500;
}

.container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: bounce 2s infinite;
    color: #000;
}

.checkbox {
    margin-right: 10px;
}

.label {
    font-size: 1.5em;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.robot-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
