body {
    font-family: 'DotGothic16', sans-serif;
    background: url('Minecraft world.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #ffa500;
    font-size: 2.5em;
    margin: 0;
}

header .home-link {
    display: block;
    margin-top: 10px;
    color: #ffa500;
    font-size: 1.5em;
    text-decoration: none;
}

main {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #ffa500;
}

#stopwatch {
    font-size: 2em;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ffa500;
    color: #fff;
}

button:hover {
    background-color: #ff7f00;
}
