:root {
    --background-color-light: #f0f0f0;
    --background-color-dark: #333333;
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
    --chat-bgcolor-light: #f0f0f0; /* ここで chat-box のライトモードの背景色を設定 */
    --chat-bgcolor-dark: #333333; /* ここで chat-box のダークモードの背景色を設定 */
    --user-bgcolor-light: #0078d7;
    --user-bgcolor-dark: #003296;
    --bot-bgcolor-light: #dddddd;
    --bot-bgcolor-dark: #151515;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.5s, color 0.5s;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

.chat-box {
    background-color: var(--chat-bgcolor-light); /* ライトモードの色を適用 */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s; /* スムーズな切り替えを追加 */
}

.chat-log {
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #dddddd;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
}

.chat-message.user {
    background-color: var(--user-bgcolor-light);
    color: #ffffff;
    text-align: right;
    justify-content: flex-end;
    transition: background-color 0.5s;
}

.chat-message.bot {
    background-color: var(--bot-bgcolor-light);
    color: var(--text-color-light);
    text-align: left;
    justify-content: flex-start;
    transition: background-color 0.5s;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #0078d7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.loading {
    display: none; /* 初期状態では非表示 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

body.dark-mode .chat-box {
    background-color: var(--chat-bgcolor-dark); /* ダークモードの色を適用 */
}

body.dark-mode .chat-message.user {
    background-color: var(--user-bgcolor-dark); /* ダークモードの色を適用 */
}

body.dark-mode .chat-message.bot {
    background-color: var(--bot-bgcolor-dark); /* ダークモードの色を適用 */
    color: var(--text-color-dark);
}
